.mystatus__app {
    padding: 10px;
    display: flex;
    border-bottom: 1px solid lightgrey;
    height: 80px;
    width: 1000vmax;
    
    
}
.progress{
    padding: 68vmax;
    display: flex;
    align-content: flex-end;
    height: 60px;
    color: white;
    
    width: 500vmax;


}